
:root{
--main-dark-cl: #2E2F42;
--main-ligth-cl: #FFFFFF;
--accent-cl: #4D5AE5;
--grey-cl: #434455;
--cl: #F4F4FD;
--cl-bl: #404bbf;
}


body {
  font-family: "Roboto",
  sans-serif;
  color: var(--grey-cl);
  font-size: 16px;
 background-color: var(--main-ligth-cl);
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

img{
    display: block ;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.list,
ul,
ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

.link,
a{
    text-decoration: none;
    color: currentColor;
}

.container{
    width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}

.header{
   
border-bottom: 1px solid #e7e9fc;

}

.header-conteiner{
    display: flex;
    align-items: center;

}

.header-nav { 
display: flex;
align-items: center;
}

.header-nav-logo {
     font-family: 'Raleway',sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--accent-cl);
        margin-right: 76px;
        display: flex;
            align-items: center;
    }


.header-logo-cl{
color: var(--main-dark-cl);

}

.header-list {
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        color: var(--main-dark-cl);
        display: flex;
        align-items: center;
        gap: 40px;
        margin-right: 332px;
        padding: 24px 0;
}

.header-item:focus{
    color:var(--cl-bl);
    display: flex;
        align-items: center;
}

.header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-dark-cl);
     
}
.header-link:hover,
.header-link:focus{
    color: var(--cl-bl);
}
.header-address {
    font-style: normal;
   
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
  
      
}

.address-item {}

.address-link {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--grey-cl)
}
.address-link:hover,
.address-link:focus{
color: var(--cl-bl);
}

.main {}

.hero {
padding-bottom: 188px;
padding-top: 188px;
background: var(--main-dark-cl);
text-align: center;
}

.hero-taitle {
   
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-ligth-cl);
    max-width: 496px;
    margin: 0 auto;
   
}

.hero-btn { 
font-family: "Roboto", sans-serif;
       font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
         cursor: pointer;
        color: var(--main-ligth-cl);
    background-color: var(--accent-cl);
    min-width: 169px;
    min-height: 56px;
padding: 16px 32px;
border-radius: 4px;
border: 0;
     margin-top: 48px;
}

.hero-btn:hover,
.hero-btn:focus{
background-color: var(--cl-bl);
}

.section-features {
 padding: 120px 0 120px;
}

.features-name{

}


.features-list {
    display: flex;
    gap: 24px;
}

.features-li {
    
    
}

.features-strategy {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--main-dark-cl);
        margin-bottom: 8px;
}

.text {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--grey-cl);
}

.section-our-work {
 
   padding-bottom: 120px;
}

.our-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--main-dark-cl);
        padding-bottom: 72px;
}

.our-work-list {
    display: flex;
    gap: 24px;
}

.our-work-item {}

.our-tem {
    padding: 120px 0;
background-color: var(--cl);
}

.our-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-dark-cl);
    margin-bottom: 72px;
}   

.our-tem-list{
display: flex;
gap: 34px;
}

.our-tem-item {
    background-color: var(--main-ligth-cl);
 gap: 24px;
}

.our-tem-img {
    margin-bottom: 32px;
    border-radius: 0px 0px 4px 4px;
}
.our-it{
padding: 32px 16px;
}

.our-tem-user {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--main-dark-cl);
        margin-bottom: 8px
}
.our-tem-work{
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--grey-cl);
}


.footer {
padding: 100px 0;
        
background: var(--main-dark-cl);
}

.footer-logo {
    font-family: 'Raleway', sans-serif ;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
color: var(--accent-cl);
display: inline-block;
margin-bottom: 16px;
 
}


.footer-logo-too{
color: var(--cl);
}
.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cl);
    display: flex;
        width: 264px;
        flex-direction: column;
      padding-top: 18px;
        padding-bottom: 100px;
}















.portfolio-main {}

.portfolio-filter {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    column-gap: 24px;
    row-gap: 48px;
}

.button-section{
    
}


.list {}

.link {
    width: calc((100% - 48px) / 3);
}

.portfolio-list {
}

.portfolio-button {
font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.04em;
    background: var(--cl);
    color: var(--accent-cl);
  padding: 12px 24px;
 border: 1px solid #e7e9fc;
border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus{
color:var(--main-ligth-cl);
background-color: var(--cl-bl);
border: 1px solid transparent;
}

.portfolio-section {
    padding: 96px 0 120px 0;
}

.portfolio-row-one {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {}

.portfolio-img {}

.portfolio-bloc{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-desc {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--main-dark-cl);
        margin-bottom: 8px
}

.portfolio-name {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--grey-cl);
}

.portfolio-row-two {
    
}

.portfolio-row-three {}













