
:root{
--main-dark-cl: #2E2F42;
--main-ligth-cl: #FFFFFF;
--accent-cl: #4D5AE5;
--grey-cl: #434455;
--cl: #F4F4FD;
--cl-bl: #404bbf;
}


body {
  font-family: "Roboto",
  sans-serif;
  color: var(--grey-cl);
  font-size: 16px;
 background-color: var(--main-ligth-cl);
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

img{
    display: block ;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list,
ul,
ol{
    list-style: none;
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
    color: currentColor;
}

.container{
    width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}


/*------header-----------*/



.header{
   
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}

.header-conteiner{
    display: flex;
    align-items: center;
padding-left: 15px;
    padding-right: 15px;
}


.header-nav { 
display: flex;
align-items: center;
}

.header-nav-logo {
     font-family: 'Raleway',sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--accent-cl);
        margin-right: 76px;
     
    }


.header-logo-cl{
color: var(--main-dark-cl);

}

.header-list {
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        color: var(--main-dark-cl);
        display: flex;
        align-items: center;
        gap: 40px;
   
}
.header-item{
color: #404bbf;
}



.header-item:focus{
    color:var(--cl-bl);
    display: flex;
        align-items: center;
}

.header-link {
    position: relative;
    display: block;
    padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-dark-cl);




    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.activ{
color: #404bbf;


}

.activ::after {
content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

}





.header-link:hover,
.header-link:focus{
    color: var(--cl-bl);
    

}
.header-address {
    font-style: normal;
   margin-left: auto;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
  
      
}

.address-item {}

.address-link {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--grey-cl);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus{
color: var(--cl-bl);

}

/*-------main-----*/


.main {}

.hero {
padding-bottom: 188px;
padding-top: 188px;
background: var(--main-dark-cl);
text-align: center;
max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-offic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}



.hero-container{

}



.hero-taitle {
   
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-ligth-cl);
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
   
}

.hero-btn { 
font-family: "Roboto", sans-serif;
       font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
         cursor: pointer;
        color: var(--main-ligth-cl);
    background-color: var(--accent-cl);
    min-width: 169px;
    min-height: 56px;
padding: 16px 32px;
border-radius: 4px;
border: 0;
     display: block;
     margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus{
background-color: var(--cl-bl);
}

.section-features {
 padding: 120px 0 120px;
}

.features-name{

}


.features-list {
    display: flex;
    gap: 24px;
}

.features-li {
    
    width: calc((100% - 72px) / 4)
}







.features-icon-bloc {
display: flex;
align-items: center;
justify-content: center;
height: 112px;
background-color: #f4f4fd;
border-radius: 4px;
margin-bottom: 8px;
}


.features-icon {


    
}













.features-strategy {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--main-dark-cl);
        margin-bottom: 8px;
}

.text {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--grey-cl);
}

.section-our-work {
 
   padding-bottom: 120px;
}



.our-work-list {
    display: flex;
    gap: 24px;
}

.our-work-item {}

.our-tem {
    padding: 120px 0;
background-color: var(--cl);
}

.our-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-dark-cl);
    margin-bottom: 72px;
}   

.our-tem-list{
display: flex;
gap: 24px;
}

.our-tem-item {
    background-color: var(--main-ligth-cl);
    border-radius: 0px 0px 4px 4px;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    }


.our-tem-img {
   
}
.our-it{
padding: 32px 16px;
padding: 32px 0;

}

.our-tem-user {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--main-dark-cl);
        margin-bottom: 8px
}
.our-tem-work{
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--grey-cl);
        margin-bottom: 8px;
}

/*  -----!!!!! ---------   */


.tem-icon-blok {
    padding: 32px 0;


}

.tem-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
gap: 24px;

}


.tem-icon-item {
    width: 40px;
    height: 40px;
   
}

.icon {
    width: 100%;
height: 100%;
background-color:#4d5ae5;
border-radius:50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:focus,
.icon:hover{
    background-color: #404bbf;

}


.tem-icon-svg {
fill:#f4f4fd;


}










/*------footer------*/

.footer {
padding: 100px 0;
        
background: var(--main-dark-cl);
}

.footer-box{
margin-right: 120px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif ;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
color: var(--accent-cl);
display: inline-block;
margin-bottom: 16px;
}

.footer-logo-too{
color: var(--cl);
}
.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cl);
        width: 264px;  
}

/*----footer-icon----*/

.blok {
    display: flex;
    align-items: baseline;
}

.footer-blok-icon {
    align-items: baseline;
}

.footer_text-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;

}

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-div {}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #f4f4fd;
}
.footer-subscribe-box{
margin-left: 80px;

}
.footer-subscribe-text {
    margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
}
.footer-subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-subscribe-label {}

.footer-subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}
::placeholder{
    color: #ffffff;
}


.footer-subscribe-button {
    color: #ffffff;
    height: 40px;
    min-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus{
    background-color: var(--cl-bl);
}



.footer-subscribe-svg {
    margin-left: 16px;
}


/*---------portfolio-filter-blok-main-------*/
.portfolio-main {}

.portfolio-filter {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    column-gap: 24px;
    row-gap: 48px;
    gap: 24px;
}

.portfolio-app{
display: block;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-app:hover{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-app:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-app:hover .portfolio-overlay-text
{
transform: translateY(0%);
}
.portfolio-app:focus .portfolio-overlay-text
{
transform: translateY(0%);
}


.portfolio-list {
}

.portfolio-button {
font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.04em;
    background: var(--cl);
    color: var(--accent-cl);
  padding: 12px 24px;
 border: 1px solid #e7e9fc;
border-radius: 4px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus{
color:var(--main-ligth-cl);
background-color: var(--cl-bl);
border: 1px solid transparent;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-section {
    padding: 96px 0 120px 0;
}

/*-----portfolio---*/


.portfolio-row-one {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-overlay{
position: relative;
overflow: hidden;
}

.portfolio-overlay-text{
position: absolute;
top: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
padding: 40px 32px;
background-color: #4d5ae5;
height: 100%;
width: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {}

.portfolio-img {}

.portfolio-bloc{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-desc {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--main-dark-cl);
        margin-bottom: 8px
}

.portfolio-name {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--grey-cl);
}



/*--------clients-section----*/

.clients-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.client-title{
font-size: 36px;
line-height: 1.11;
color: #2e2f42;
margin-bottom: 72px;
text-align: center;
}

.clients-list {
display: flex;
justify-content: center;
gap: 24px;
color: #8e8f99;
}

.clients-item {}

.client-link {
display: flex;
    justify-content: center;
align-items: center;
width: 168px;
height: 88px;
border: 1px solid #8E8F99;
border-radius: 4px;
transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon {
fill: currentColor;
}
.client-link:hover,
.client-link:focus{
    border-color: #404bbf;
    color: #404bbf;
}
.client-link:hover .client-icon{
    
}


/*------backdrop------*/
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    }
.modal {
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    background: #FCFCFC;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
padding: 72px 24px 24px 24px;
    }
.modal-btn{
    position: absolute;
top: 24px;
right: 24px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
    width: 24px;
        height: 24px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: transparent;
        background-color: #e7e9fc;
        padding: 0;
        cursor: pointer;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal-btn:hover,
  .modal-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}
.modal-icon {

}




.modal-text {
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}
.modal-form{

}


.modal-box {
margin-bottom: 8px;

}

.modal-label-name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-box-inform {
    position: relative;

}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-input:focus{
border-color: #4D5AE5;
}

.modal-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-svg{
fill: #4D5AE5;
}


.modal-box-comment{
margin-bottom: 16px;
}

.modal-textarea-comment{
    display: block;
width: 100%;
height: 120px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding: 8px 16px;
outline: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-textarea-comment:focus{
border-color: #4D5AE5;
}



.modal-box-checkbox {
    margin-bottom: 24px;

}

.modal-checkbox-input {}

.modal-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: inline-flex;
    align-items: center;
}

.modal-checkbox-color-text{
color: #4d5ae5;
text-decoration: underline;
}

.modal-checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    display: inline-flex;
    
}

.modal-checkbox-svg {
position: absolute;
fill: #F4F4FD;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-checkbox-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    font-size: 16px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin: auto;
}

.modal-checkbox-button:hover,
.modal-checkbox-button:focus {
    background-color: #404bbf;
}

.modal-checkbox-input:checked + .modal-checkbox-label .modal-checkbox-span{
    background-color: #404bbf;
        border: none;
        fill: #F4F4FD;
    }


/*----mobile-menu---*/

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #3f51b5;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

